* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
.josefin-slab-thin {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1.3rem;
  font-style: normal;

  @media only screen and (max-width: 992px) {
    font-size: 1.1rem;
  }
}
.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Navbar */

.navbar {
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 992px) {
  .nav-list-container {
    margin-left: 2rem;
  }
}

.nav-container {
  position: relative;
}

.nav-item {
  margin-right: 2rem;
}
.nav-link:hover {
  cursor: pointer;
  color: #010101;
}

.basket-icon,
.user_icon {
  cursor: pointer;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  width: 15rem;
  height: 9rem;
}

.nav-list-container {
  height: 9rem;
  margin-left: 30%;

  @media only screen and (max-width: 992px) {
    height: 10rem;
    margin-left: 56%;
  }
}
.navbar-burger {
  margin-top: 3rem;
  margin-left: 85%;
}
.icons {
  width: 25%;
  margin-left: auto;
  @media (max-width: 992px) {
    width: 20vw;
    margin-top: 1rem;
    margin-left: 0;
    justify-content: space-between !important;
  }
}
.user {
  transform: translateY(10%);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    width: 30vw;
    transform: translate(-5%, 30%);
  }
}
.user-info {
  font-size: 1rem;
  align-self: flex-start;
}

/* Products */
#products {
  margin-top: 20%;

  @media only screen and (max-width: 992px) {
    margin-top: 80%;
  }
}

/* Cards */
.card-img-top {
  object-fit: cover;
}
.card-title {
  font-size: 1.4rem;
}
.card-img-top {
  height: 50%;
}
.card-text,
.card-button {
  font-size: 0.9rem;
}

.register-container,
.login-container {
  position: relative;
  margin-top: 5rem;
}

/* Back home button */
.back-home {
  position: absolute;
  top: -10%;
  left: 0;
  width: 10rem;
}
